
html,
body {
    font-family: 'Merriweather', serif;
    font-weight: 300;
    background-color: #C0D0E2;
    font: #585850;
}

main {
    padding: 0 1.5rem;
    max-width: 800px;
}

.change-cursor {
    cursor: url(./Pictures/noun-drumstick-196025.png), auto;
}

.drum-picture {
    height: 4.5rem;
    width: 4.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 3rem 0 .5rem 0;
    font-weight: 700;
}

h3{
    color: #323940 !important;
}

.computer-picture {
    height: auto;
    width: 100%;
}

hr {
    width: 85%;
    margin: 4rem auto;
}

.container-fluid,
footer>.container-fluid,
footer {
    background-color: #323940;
}

nav.navbar {
    padding: 0;
}

ul.navbar-nav.p-2.bg-dark,
a.navbar-brand {
    background-color: #323940 !important;
    color: #D5D5D0;
}
p{
    margin-top: 1rem;
}

.portfolio-picture{
    border: #323940 solid .15rem;
    border-radius: 10px;
}