

html,
body {
    font-family: 'Merriweather', serif;
    background-color: #C0D0E2;
    font: #585850;
    
    /* padding: .5rem;
    margin: 0 auto; */
}

main {
    /* padding: ; */
    /* margin: 1rem auto; */
    width: 80%;
}

.change-cursor{
    cursor: url(./Pictures/noun-drumstick-196025.png), auto;
}

.drum-sampler-pictures {
    margin: 0 1.5rem;
    /* display: inline-block; */
}

.drum-picture {
    height: 4.5rem;
    width: 4.5rem;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 3rem 0 .5rem 0;
}


#computer-picture {
    height: auto;
    width: 100%;
}

hr {
    width: 85%;
    margin: 4rem auto;
}

.container-fluid {
    background-color: #323940;
}

footer>.container-fluid {
    background-color: #323940;
}

footer {
    background-color: #323940;
}

a.navbar-brand {
    background-color: #323940;
    color: #D5D5D0;
}
nav.navbar {
    padding: 0;
}

ul.navbar-nav.p-2.bg-dark {
    background-color: #323940 !important;
    color: #D5D5D0;
}

